extends ../layouts/common

block content
    .container
        h1 Create User

        if errors
            each error in errors
                .alert.alert-danger=error

        form.row.g-2(action="/users/create", method="POST")
            .col-12
                label.form-label Name
                input.form-control(name="name", type="text", value=values ? values.name : "")
            .col-12
                label.form-label Phone
                input.form-control(name="phone", type="text", , value=values ? values.phone : "")
            .col-12
                button.btn.btn-primary Create
