extends ../layouts/common.pug

block content
    .container
        h1 Users
        form.d-flex(action="/users/search", method="GET")
            a(href="/users/create").btn.btn-primary.me-2.w-25 Create User
            input.form-control(name="q", type="text")
            button.btn.btn-primary.ms-2 Search
        table.table
            tr
                th Avatar
                th Name
                th email
                th Phone
                th Action

            each user in users
                tr
                    td
                        img(src= user.avatar, alt="", width='42')
                    td= user.name
                    td= user.email
                    td= user.phone
                    td
                        .btn-group(role='group', aria-label='Basic checkbox toggle button group')
                            a(href="/users/"+user.id).btn.btn-outline-secondary View
                            a(href="#").btn.btn-outline-secondary Edit