extends ../layouts/common

block content
    .container
        h1 Create Product

        if errors
            each error in errors
                .alert.alert-danger=error

        form.row.g-2(action="/products/create", method="POST")
            .col-12
                label.form-label Name
                input.form-control(name="name", type="text", value=values ? values.name : "")
            .col-12
                label.form-label Description
                input.form-control(name="description", type="text", , value=values ? values.description : "")
            .col-12
                button.btn.btn-primary Create
